#Bovenbalk {
  background-color: #00B2FF;
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#Onderbalk {
    background-color: #00B2FF;
    bottom: 0px;
    left: 0px;
    height: 150px;
    width: 100%;
    position: absolute;    
}
#Titel {
    position: absolute;
    left: 100px;
    top: 0px;
    color: black;   
    font-size: 70px;
    font-weight: initial;
}
#Zoekbalk {
    position: absolute;
    right: 20px;
    top: 40px;

}
#menu {
 background-color:  #000787;
 position: absolute;
 top: 300px;
 height: 100px;
 width: 400px;
}